@use "../../styles/index.scss" as *;

.weather__container {
  display: flex;
  align-items: center;
  gap: px(16);
  width: 100%;

  .weather {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    .card__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: px(16);
    }

    &__loading {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: px(100);
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: px(8);
      flex: 1;
      justify-content: center;
      text-align: center;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: px(8);
    }

    &__icon {
      font-size: px(32);
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__temp {
      margin: 0;
      line-height: 1;
    }

    &__text {
      text-align: center;
      margin: 0;
    }
  }

  &__location {
    margin: 0;
    color: var(--color-text);
    white-space: nowrap;
    flex-shrink: 0;
  }
}

