@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-Light.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-Regular.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-Medium.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-SemiBold.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-Bold.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/Pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
       url("../assets/fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-Light.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-SemiBold.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/NotoSansKR/NotoSansKR-ExtraBold.woff2") format("woff2"),
       url("../assets/fonts/NotoSansKR/NotoSansKR-ExtraBold.woff") format("woff");
  font-display: swap;
}

