@use "../../styles/index.scss" as *;

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: px(40) px(20);
  min-height: px(200);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(80);
    height: px(80);
    margin-bottom: px(16);
    font-size: px(48);
    line-height: 1;
    opacity: 0.6;
  }

  &__title {
    margin: 0 0 px(8) 0;
    @include px(font-size, 18);
    font-weight: 700;
    color: var(--color-text);
  }

  &__description {
    margin: 0 0 px(20) 0;
    @include px(font-size, 14);
    color: var(--color-muted);
    line-height: 1.6;
    max-width: px(400);
  }

  &__action {
    margin-top: px(8);
  }

  // Variants
  &--minimal {
    padding: px(20) px(16);
    min-height: auto;

    .empty-state__icon {
      width: px(48);
      height: px(48);
      font-size: px(32);
      margin-bottom: px(12);
    }

    .empty-state__title {
      @include px(font-size, 16);
      margin-bottom: px(4);
    }

    .empty-state__description {
      @include px(font-size, 13);
      margin-bottom: px(16);
    }
  }

  &--illustration {
    padding: px(60) px(20);
    min-height: px(300);

    .empty-state__icon {
      width: px(120);
      height: px(120);
      font-size: px(72);
      margin-bottom: px(24);
    }

    .empty-state__title {
      @include px(font-size, 20);
      margin-bottom: px(12);
    }

    .empty-state__description {
      @include px(font-size, 15);
      margin-bottom: px(24);
      max-width: px(500);
    }
  }
}

